@import '../../common/css/global.less';
body{
  background-color: #eeeeee;
}
.banner{
  width: 100%;
  height: 16rem;

  background-image: url("./banner_index.png");
  background-size:100% 16rem;
}
.data_box{
  .clearfix;
  width: 100%;
  background-color: #fff;
  .data_one,.data_two,.data_three{
    padding:0.7rem 0 0.7rem 1.5rem;
  }
}
