@import '../../common/css/global.less';
body{
  background-color: #eeeeee;
}
.imgbox{
  width: 32rem;
  height: 16rem;
  overflow: hidden;
  position: relative;

  .banner_box{
    width: 200rem;
    height: 16rem;
    li{
      float: left;
    width: 32rem;
    height: 16rem;
    }
    .banner_img{
    width: 32rem;
    height: 16rem;
  }
  }
  .dots_box{
    position: absolute;
    bottom: 1rem;
    left:50%;
    margin-left: -3.75rem;
    li{
      width: 1.5rem;
      height: 1.5rem;
      margin-left: 1rem;
      background: rgba(255, 255, 255, 0.4);
      display: block;
      .border-radius(50%);

    }
    .current{
      background: rgba(231, 112, 16, 0.8);
    }
  }


}

.data_box{
  .clearfix;
  width: 100%;
  background-color: #fff;
  padding: 0.7rem 0 0.7rem 0;
  .data_one,.data_two,.data_three{
    padding:0 0 0 1.5rem;
  }
  .data_one,.data_two{
    border-right: 1px solid #e5e5e5;
    width: 8rem;
  }
  .data_value{
    color:#ff6c10;
    font-size:1.3rem;
    line-height: 1.4rem;
  }
  .data_name{
    color:#666666;
    font-size: 1rem;
    line-height: 1.1rem;
  }
}
.platform_box{
  margin-top: 1rem;
  .platform_data,.design_box,.price_box{
    .clearfix;
    padding:1.8rem 1.6rem;
    background-color: #fff;

  }
  .design_box,.price_box{
    margin-top: 0.1rem;
  }
  .data_ico,.design_ico,.price_ico{
    width: 4rem;
    height: 4rem;
    background-size:4rem 4rem;

  }
  .price_ico{
    background-image: url("./price.png");
  }
  .data_ico{
    background-image: url("./data.png");
  }
  .design_ico{
    background-image: url("./design.png");
  }
  .data_contentbox{
    margin-left: 1rem;
  }
  .platdata_name{
    color: #000000;
    font-size: 1.7rem;
    line-height: 1.7rem
  }
  .platdata_text{
    width: 23.5rem;
    margin-top: 0.3rem;
    color: #383838;
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
}
.rotation_box{
    .clearfix;
    margin-top: 1rem;
    .rotation1{
    width: 26.5rem;
    height: 14rem;
    background-image: url("./rotation1.png");
    background-size:26.5rem 14rem;
    }
}
