@import '../../common/css/global.less';
body{
  background-color: #eeeeee;
}
.banner_data{
  width: 100%;
  height: 13rem;
  background-image: url("./banner_data.png");
  background-size:100% 13rem;
}
.data_box{
  margin-top: 1rem;
  .clearfix;
  background-color: #fff;
  padding:1.8rem 1.6rem;
  .data_ico{
    width: 4rem;
    height: 4rem;
    background-size:4rem 4rem;
    background-image: url("./data.png");
  }
  .data_contentbox{
    margin-left: 1rem;
  }
  .platdata_name{
    color: #000000;
    font-size: 1.7rem;
    line-height: 1.7rem
  }
  .platdata_text{
    width: 22.1rem;
    margin-top: 0.4rem;
    color: #383838;
    font-size: 1.3rem;
    line-height: 1.4rem;
  }
}
.identity_box{
  width: 100%;
  background-color: #fff;
  margin-top: 1rem;
  padding: 0.8rem 0;

  .clearfix;
  .identity_lf,.identity_rg{
    text-align: center;

    font-size: 1.2rem;

  }
  .identity_rg{
    width: 50%;
  }
  .identity_lf{
    width: 49.6%;
    border-right: 0.1rem solid #eeeeee;

  }
  .current{
    color: #128bf7;
    border-bottom: 0.2rem solid #128bf7;
    padding: 0 0.6rem 0.65rem 0.6rem;
  }

}
.identity_tit{
  font-size: 1.2rem;
  color: #686868;
  line-height: 2.8rem;
  padding-left: 1rem;
}
.entrance_box{
    margin-top: 0.1rem;
    background-color: #fff;
    padding: 1.8rem;
    .clearfix;
    .data1,.data2,.data3,.data4,.data5,.data6,.data7,.data8{
      width: 5rem;
      height: 5rem;
      background-size:5rem 5rem;
    }
    .data1{
      background-image: url("./data1.png");
    }
    .data2{
      background-image: url("./data2.png");
    }
    .data3{
      background-image: url("./data3.png");
    }
    .data4{
      background-image: url("./data4.png");
    }
    .data5{
      background-image: url("./data5.png");
    }
    .data6{
      background-image: url("./data6.png");
    }
    .data7{
      background-image: url("./data7.png");
    }
    .data8{
      background-image: url("./data8.png");
    }
    .data_textbox{
      margin-left: 1.6rem;
      .data_name{
        color: #3d3d3d;
        font-size: 1.7rem;
        line-height: 1.7rem;
      }
      .data_text{
      width: 21rem;
       margin-top: 0.4rem;
       color: #6a6d73;
       font-size: 1.3rem;
       line-height: 1.4rem;
      }
    }
  }
