@devPath:'../css/';


/* --------------------------------------------初始化浏览器差异----------------------------------------------------- */

@import '@{devPath}normalize.less';

/* --------------------------------------------网站通用或者默认样式----------------------------------------------------- */
@import '@{devPath}globalImp.less';


@font-face
{
    font-family: HelveticaNeueLTPro;
    src: url('./font/HiraginoSansGB.otf');
    font-weight:bold;
}
html{
    font-family:HelveticaNeueLTPro,Tahoma,Arial,Roboto,'Droid Sans','Helvetica Neue','Droid Sans Fallback','Heiti SC',sans-self;
    height: 100%;
    width: 100%;
    font-size: 20px;
    overflow: hidden;
    outline: 0;
    -webkit-text-size-adjust:none;
    }
img
{
    vertical-align: middle;
}
.lf{
  float: left;
}
.rg{
  float: right;
}

