@devPath:'../css/';


/* --------------------------------------------初始化浏览器差异----------------------------------------------------- */

@import '@{devPath}normalize.less';

/* --------------------------------------------网站通用或者默认样式----------------------------------------------------- */
@import '@{devPath}globalImp.less';



html{
    font-family:Tahoma,Arial,Roboto,'Droid Sans','Helvetica Neue','Droid Sans Fallback','HelveticaNeueLTPro','Heiti SC',sans-self;
    height: 100%;
    width: 100%;
    font-size: 20px;
    outline: 0;
    -webkit-text-size-adjust:none;
    }
img
{
    vertical-align: middle;
}
.lf{
  float: left;
}
.rg{
  float: right;
}
.cf{
    .clearfix;
}
.none{
    display:none;
}
.textLf{
    text-align: left!important;
}
.textRg{
    text-align: right!important;
}

