@import '../../common/css/global.less';
@import '../../common/css/mixins/form.less';
.formPage(forgetPwdPage,forgetPwd-form);
.forgetPwdPage {
  .forgetPwd-form {
    div{
      margin-top:0.3rem ;
    }
    .validCode{
      margin:1rem auto;
      height: 4.5rem;
      input{
        float: left;
        width:13rem;
        margin-right: 1rem;
      }
      button{
        float: left;
      }
    }

  }

}

