
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>rem phone test</title>
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>

<body>

<%= require('html!common/html/header/index.html') %>



<img src="<%= require('module/login/invite.png') %>"/><br/>
<img src="<%= require('module/login/obtain.png') %>"/><br/>
<img src="<%= require('module/login/price.png') %>"/>




<footer>我是页脚</footer>
</body>
</html>