
<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <title>rem phone test</title>
    <meta name="viewport" content="width=device-width,user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

</head>

<body>
<div class="header">
    <div>
        <header>
            <ul>
                <li class="cur textLf" dataTag="aboutUs"><span>易家纺介绍</span></li>
                <li dataTag="qualification"><span>公司资质</span></li>
                <li dataTag="propertyRight" class="textRg"><span>知识产权</span></li>
            </ul>
        </header>
    </div>
</div>
<!-- 关于我们 -->
<div class="aboutUs">
    <div class="content">
        <div class="whoIs">
            <div class="article">
                <h1><span>谁</span>是宜家纺</h1>
                <p>
                易家纺的团队由一支开拓敬业、经验丰富的纺织行业专家队伍，结合了一支由色彩、图像处理和二维仿真、三维仿真、大数据处理等方面专家组成的技术开发队伍，并有一支由有多家配套产业机构和专家学者构成的强大顾问团队，同时建立了浙江大学、清华大学、英国利兹大学、美国加州理工的战略合作关系，以确保更专业更有效的帮助解决家纺企业解决面临的各种难题。
                </p>
            </div>
        </div>
        <div class="team">
            <div class="title"><h1 class="rg">易家纺的团队</h1></div>
            <div class="article">
                <p>
                    易家纺的团队由一支开拓敬业、经验丰富的纺织行业专家队伍，结合了一支由色彩、图像处理和二维仿真、三维仿真、大数据处理等方面专家组成的技术开发队伍，并有一支由有多家配套产业机构和专家学者构成的强大顾问团队，同时建立了浙江大学、清华大学、英国利兹大学、美国加州理工的战略合作关系，以确保更专业更有效的帮助解决家纺企业解决面临的各种难题。
                </p>
            </div>
        </div>
        <div class="advantage">
            <div class="title"><h1 class="lf">易家纺的优势</h1></div>
            <div class="article">
                <p>
                    1、丰富的产业经验，广泛的行业资源<br/>
                    2、领先的技术团队，强大的顾问团队<br/>
                    3、创新的思路，先进的技术<br/>
                    4、庞大的家纺资料库<br/>
                    （1）行业最完整的家纺面料品质样库<br/>
                    （2）行业唯一的家纺成品款式样库和工艺单库<br/>
                    （3）行业唯一的家纺产品二维模型库和三维精确模型库<br/>
                    （4）行业唯一的家纺产品体积库和装箱数量数据库<br/>
                    （5）全球最大的家纺设计花型库<br/>
                    （6）行业最全的纺织家纺企业数据库<br/>
                    5、完整的全球交易信息数据库<br/>
                    （1）全国纺织家纺出口企业贸易信息数据库<br/>
                    （2）美国、加拿大、南美12个主要国家家纺进口数据库<br/>
                    （3）欧盟37个国家家纺产品进口统计信息库<br/>
                    （4）日本、澳大利亚家纺产品进口统计信息库；<br/>
                    （5） 美国、加拿大、欧洲37国、亚洲8国、南美39国、
                    中东、非洲9国的全球家纺买家数据库<br/>
                    （6）印度和巴基斯坦纺织家纺企业出口数据库<br/>
                </p>
            </div>
        </div>
        <div class="honour">
            <div class="title"><h1 class="rg">易家纺的荣誉<span></span></h1></div>
            <div class="article">
                <p>
                    1、易家纺被评为浙江省省级外贸公共平台升级平台，并荣获浙江省商务厅重点项目政策和资金支持<br/>
                    2、易家纺已有四项研发获得了知识产权，有二十几项研发正在申请知识产权<br/>
                    3、公司自主研发的面料设计平台是国内唯一一个自动在线面料设计平台<br/>
                    4、公司自主研发的二维成品设计平台是国内同类技术中唯一一个解决了二维转狐线问题<br/>
                    5、公司自主研发的三维设计平台填补了国际空白，其中三维云渲染引擎也是自主研发<br/>
                    6、公司自主研发了国际上唯一的家纺面料及成品核价平台
                </p>
            </div>
        </div>
        <div class="target">
            <div class="title"><h1 class="lf">易家纺的目标<span></span></h1></div>
            <div class="article">
                <p>
                    1、最有影响力的家纺设计的时尚风向中心<br/>
                    2、最权威的家纺上下游产品价格信息中心<br/>
                    3、最可靠的家纺业第三方信用评估中心<br/>
                    4、最专业的家纺业相关的金融，物流等的中介服务中心<br/>
                    5、最有效的家纺上下游产品交易平台<br/>
                    6、最有价值的家纺外贸B2B电子商务平台
                </p>
            </div>
        </div>
    </div>
</div>
<!-- 公司资质 -->
<div class="qualification none">
    <div class="content">
        <div class="title cf"><h1 class="lf">公司资质</h1></div>
        <div class="showList">
            <ul>
                <li><img src="<%= require('module/aboutUs/img/1.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/2.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/3.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/4.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/5.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/6.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/7.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/8.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/9.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/10.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/11.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/12.png' )%>" /></li>

            </ul>
        </div>

    </div>
</div>
<!-- 知识产权 -->
<div class="propertyRight none">
    <div class="content">
        <div class="title cf"><h1 class="lf">知识产权</h1></div>
        <div class="showList">
            <ul>
                <li><img src="<%= require('module/aboutUs/img/111.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/112.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/113.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/114.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/115.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/116.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/117.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/118.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/119.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/120.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/121.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/122.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/124.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/125.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/126.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/127.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/128.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/129.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/130.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/131.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/132.png' )%>" /></li>
                <li><img src="<%= require('module/aboutUs/img/133.png' )%>" /></li>
            </ul>
        </div>

    </div>
</div>
</body>
