@import '../../../common/css/global.less';
body{
  background-color: #eeeeee;
}
.simulation_banner{
  border-top:0.2rem solid #cdcdcd;
  width: 100%;
  height: 16rem;
  background-image: url("./simulation_banner.png");
  background-size:100% 16rem;
}
.advantage_ico{
    background-image:url("./advantage.png");
  }
.classic_ico{
    background-image:url("./classic.png");
  }
.fabric_ico{
    background-image:url("./fabric.png");
  }
.suite_ico{
    background-image:url("./suite.png");
  }
.fabric_ico,.suite_ico,.classic_ico,.advantage_ico{
    width: 2.2rem;
    height: 2.2rem;
    background-size:2.2rem 2.2rem;
  }
.option_text{
    padding-left:0.8rem;
    line-height: 2.2rem;
    font-size:1.4rem;
    color: #323232;
}
.option_box{
  margin-top:0.5rem;
  .clearfix;
  .advantagebox,.fabricbox,.suitebox,.classicbox{
    margin-top: 1rem;
    background-color: #fff;
    width: 13rem;
    padding: 1.5rem 0 1.5rem 2.5rem;
  }
  .fabricbox,.classicbox{
    margin-left: 1rem;
  }
}